
    <div class="container-fluid">
        <nav class="navbar  navbar-expand-lg  fixed-top">

            <a class="navbar-brand me-auto" href="#">Logo</a>

            <div class="offcanvas offcanvas-end" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center  me-auto mb-2 mb-lg-0 flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2 active" aria-current="page" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="#">Produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="#">A propos de la ferme </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="icon m-2">
                <a href=""><i class="fa-brands fa-square-facebook" style="color: #0a58ca"></i></a>

            </div>

            <a href="#" class="login-button mx-lg-2">Connexion</a>

            <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>

</div>